@font-face {
    src: url("../fonts/Roboto.ttf") format("truetype");
    font-family: "Roboto";
}

:root {
    --background-color: #ffffff;
    --text-color: #333333;
    --header-footer-background: #f1f1f1;
    --changelog-background: #e0e0e0;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --primary-color: #666666;
    --secondary-color: #999999;
    --overlay-color: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --text-color: #e0e0e0;
        --header-footer-background: #1f1f1f;
        --changelog-background: #2c2c2c;
        --box-shadow-color: rgba(0, 0, 0, 0.5);
        --primary-color: #444444;
        --secondary-color: #666666;
        --overlay-color: rgba(0, 0, 0, 0.7);
    }
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    height: 100%;
    width: 100%;
    background-image: url("../img/background.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--text-color);
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    backdrop-filter: blur(5px);
    z-index: 1;
}

body > * {
    position: relative;
    z-index: 2;
}

.hidden-div {
    display: none;
}
