@font-face {
    src: url("../fonts/Roboto.ttf") format("truetype");
    font-family: "Roboto";
}

:root {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --header-footer-background: #1f1f1f;
    --changelog-background: #2c2c2c;
    --box-shadow-color: rgba(0, 0, 0, 0.5);
    --primary-color: #bb86fc;
    --secondary-color: #03dac6;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}
